<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Farmacia La Esperanza</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@24_1/dist/dx-quill.min.js"></script> *@




    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/dx.greenmist.css")


    @Styles.Render("~/Content/DevExtremeBundle")
    @Styles.Render("~/Content/dx.greenmist.css")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    @Styles.Render("~/Content/dx.greenmist.css")

</head>

<body style="padding-top: 3.5rem;">
  
    <nav class="navbar navbar-dark  fixed-top navbar-expand-md" style="background-color: #06d5c9; ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Farmacia La Esperanza</a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a href="@Url.Action("Producto", "Home")" class="nav-link">Producto</a></li>
                    <li class="nav-item"><a href="@Url.Action("Inventario", "Home")" class="nav-link">Inventario</a></li>
                    <li class="nav-item"><a href="@Url.Action("Laboratorio", "Home")" class="nav-link">Laboratorio</a></li>
                    <li class="nav-item"><a href="@Url.Action("Factura", "Home")" class="nav-link">Factura</a></li>
                    <li class="nav-item"><a href="@Url.Action("DetalleFactura", "Home")" class="nav-link">Detalle Factura</a></li>


                    <li class="nav-item"><a href="@Url.Action("Direccion", "Home")" class="nav-link">Direccion</a></li>

                    <li class="nav-item"><a href="#about" class="nav-link">Acerca de nosotros</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">Contactos</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container" style="margin-top: 1.5rem;">
        @RenderBody()
       
    </main>
</body>

</html>